body {
  font-family: 'Bebas Neue', sans-serif;
  background-color: #F9F9F9;
  /* color: #2C3E2F */
  color:#008037
}

.logo {
  text-align: center;
  height: 150px;
 
}

.footer {
  background-color: #16200e;
  font-weight: 200
}

/* navbar */
.action-btn {
  background-color: #008037;
  border: none;
  padding: 15px 25px;
  color:white
}

.action-btn:hover {
  background-color: #013316;
}

/* Heading */
h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 3.3em;
}

/* section1 */
.banner {
  position: relative;
  top: 0px;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

/* section1 */
.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #EAE6DA;
  color: #eae6da;
  text-shadow: 4px 4px 10px #2C3E2F;
  background-image: url("/public/assets/images/home.jpg");
  
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;

}


/* section2 - fixed and responsive */
.section2 {
  position: relative;
  padding: 80px 0;
}

.text-muted {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #707070;
}

.main-image-container {
  width: 550px;
  height: 550px;
}

.main-image {
  width: 100%;
  border-radius: 10px;

}

.right-section {
  padding-left: 60px;
}

.right-section h1 {}

/* Responsive Fixes */
@media (max-width: 992px) {


  .right-section {
    padding-left: 30px;
  }
}

@media (max-width: 768px) {
  .footer {
    text-align: center;
  }

  .section1 {
      font-size: 1.3rem;
      background-image: url("/public/assets/images/home-mobile.png");
      height: 100vh;
      width: 100vw;
      background-position: bottom;
  }

  .section2 {
    padding: 50px 20px;
  }

  .right-section {
    padding: 20px 10px;
  }

  .right-section h1,
  .right-section p {
    text-align: center;
  }


  .right-section h1 {
    font-size: 2.2em;
  }

  .action-btn {
    margin: auto;
    display: block;
  }
}

/* section3 */

.section3 {
  position: relative;
  padding: 50px;
  /* background-color: #a5c87d81; */
  background: url('/public/assets/images/menu.jpg');
    background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  width: 100vw;
  height: auto;
  min-height: 80vh;
  color:white

}
img{
object-fit: cover;
width:100%;
height:100%
}

.secrete{
  background-image: url('/public/assets/images/secrate.jpg');
background-size: cover;
background-repeat: no-repeat;
  width: 100vw;
    display: flex;
    justify-content: center;
    align-items:center;
  height: 100vh;
  display: flex;
  justify-content: start;
  padding-left: 200px;
  align-items: center;
  color:white
}
.section4 {
  background-color:#A5F24E;
  padding: 100px;
}

.newsletter input {
  border: none;
  padding: 10px;
  background: transparent;
  font-size: 30px;
}

.privacy-policy {
  font-size: 30px;
}

.footer {
  color: #e7e6e6;

}

.footer p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.footer-links {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.footer-links a:hover {
  margin-left: 10px;
  transition: all 0.3s;
}

a {
  text-decoration: none;
}

@media (max-width: 1200px) {

  /* Heading */
  h1 {
    font-size: 3em;
  }

  .newsletter input {
    font-size: 26px;
  }

  .privacy-policy {
    font-size: 20px;
  }

  .section3{
  background-image: url('/public/assets/images/menu-mobile.jpg');
    padding: 50px 10px;
width: 100vw;
height: fit-content;
background-repeat: repeat-y;
background-size: contain;

  }

  .secrete {
background-position: left;
padding: 10px;
text-align: center;
min-height: 400px;
height: auto;
  }
}

@media (max-width: 992px) {
  .newsletter input {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
h1{
  font-size: 2.2em;
}

.logo{
  position: fixed;
}
  .main-image-container {
    width: 300px;
    height: 300px;
  }

  .right-section {
    padding-left: 20px;
    padding-right: 20px;
  }

  .right-section {
    padding-left: 20px;
    padding-right: 20px;
  }

  .section4 {
    padding: 40px 20px;
  }

  .newsletter input {
    font-size: 18px;
  }

  .section3 {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .newsletter input {
    font-size: 18px;
    padding: 8px;
  }

}
